<div class="row">
    <div class="col-sm-3">
        <h3>{{ user.firstName }}</h3> <br />
        {% if user.profileImage %}
            <img src="{{ user.profileImage.getWebPath() }}" />
        {% endif %}
    </div>
    <div class="col-sm-3">

        {% set VisibilityStatus = constant('LB\\UserBundle\\Entity\\User::ALL_MEMBERS') %}
        {% if app.User is null %}
            {% set VisibilityStatus = constant('LB\\UserBundle\\Entity\\User::EVERYONE') %}
        {% elseif app.User.id == user.id %}
            {% set VisibilityStatus = constant('LB\\UserBundle\\Entity\\User::ONLY_ME') %}
        {% elseif areFriends(app.User.id, user.id) %}
            {% set VisibilityStatus = constant('LB\\UserBundle\\Entity\\User::MY_FRIENDS') %}
        {% endif %}

        <h3>{{ 'profile.show.about_me'|trans({}, 'FOSUserBundle') | capitalize }}</h3> <br />
        {% if user.summary %}
            <strong>{{ 'profile.show.my_summary'|trans({}, 'FOSUserBundle') | capitalize }}</strong>
            {{ user.summary }}<br />
        {% endif %}
        {% if user.craziestOutdoorAdventure and VisibilityStatus <= user.craziestOutdoorAdventureVisibility %}
            <strong>{{ 'profile.show.craziest_outdoor'|trans({}, 'FOSUserBundle') }}</strong>
            {{ user.craziestOutdoorAdventure }}<br />
        {% endif %}
        {% if user.favoriteOutdoorActivity and VisibilityStatus <= user.favoriteOutdoorActivityVisibility %}
            <strong>{{ 'profile.show.favorite_outdoor'|trans({}, 'FOSUserBundle') }}</strong>
            {{ user.favoriteOutdoorActivity }}<br />
        {% endif %}
        {% if user.likeTryTomorrow and VisibilityStatus <= user.likeTryTomorrowVisibility %}
            <strong>{{ 'profile.show.like_try'|trans({}, 'FOSUserBundle') }}</strong>
            {{ user.likeTryTomorrow }}<br />
        {% endif %}
    </div>

    <div class="col-sm-3">
        <h3>{{ 'profile.show.my_photos'|trans({}, 'FOSUserBundle') | capitalize }}</h3> <br />
        {% for file in user.files %}
            <img src="{{ file.getWebPath() }}" width="150px" height="150px"/>
        {% endfor %}
    </div>

    <div class="col-sm-3">
        <h3>{{ 'profile.show.my_activities'|trans({}, 'FOSUserBundle') | capitalize }}</h3> <br />

        {% for groupName, interestGroup in user.getInterestsInString() %}
            <strong>{{ groupName }}</strong>
            {{ interestGroup }}<br />
        {% endfor %}
    </div>

</div>
