{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link type="text/css" rel="stylesheet" href="{{ asset('jquery_components/select2/select2-bootstrap.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('jquery_components/select2/select2.css') }}">
{% endblock %}
{% block content %}

    <div class="wrapper">
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="header-title">{{ app.user.username }} Company Settings</h1>
                <div class="col-md-12 text-center invoice-header">
                    <header><h2>Credit Application and Agreement</h2></header>
                    {% for flash_message in app.session.flashBag.get('notice') %}
                        <div class="flash-notice">
                            <p>{{ flash_message }}</p>
                        </div>
                    {% endfor %}
                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div class="flash-notice">
                            <p class="text-danger">{{ flash_message }}</p>
                        </div>
                    {% endfor %}
                </div>
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="flash-notice">
                        <p>{{ flash_message }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="panel-body container">
                <div class="col-md-12">
                    {{ form_start(form) }}
                    <div class="col-md-6">
                        <header><span>Section 1:</span> General Information</header>
                        {{ form_label(form.tradeName) }}
                        {{ form_widget(form.tradeName) }}
                        {{ form_errors(form.tradeName) }}
                        {{ form_label(form.tradeAddress) }}
                        {{ form_widget(form.tradeAddress) }}
                        {{ form_errors(form.tradeAddress) }}
                    </div>
                    <div class="col-md-6 help-text bs-callout bs-callout-info">
                        <p>(Additional stores under common ownership and same legal entity must be identified and listed with its business name and address, attach as
                        Exhibit A. Any store with a different ownership or legal entity must complete and execute a separate credit application and agreement)</p>
                    </div>
                    <div class="col-md-12">
                        <header class="text-capitalize"><span>Section 2:</span>&nbsp;Financial information</header>
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.ownershipType) }}
                        {{ form_widget(form.ownershipType) }}
                        {{ form_errors(form.ownershipType) }}

                        {{ form_label(form.corporateName) }}
                        {{ form_widget(form.corporateName) }}
                        {{ form_errors(form.corporateName) }}

                        {{ form_label(form.taxId) }}
                        {{ form_widget(form.taxId) }}
                        {{ form_errors(form.taxId) }}

                        {{ form_label(form.stateId) }}
                        {{ form_widget(form.stateId) }}
                        {{ form_errors(form.stateId) }}

                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.hin) }}
                        {{ form_widget(form.hin) }}
                        {{ form_errors(form.hin) }}

                        {{ form_label(form.statePharmacyLicense) }}
                        {{ form_widget(form.statePharmacyLicense) }}
                        {{ form_errors(form.statePharmacyLicense) }}

                        {{ form_label(form.deaLicense) }}
                        {{ form_widget(form.deaLicense) }}
                        {{ form_errors(form.deaLicense) }}

                         {{ form_label(form.stateControlledSubstanceLicense) }}
                        {{ form_widget(form.stateControlledSubstanceLicense) }}
                        {{ form_errors(form.stateControlledSubstanceLicense) }}

                    </div>
                    <div class="col-md-12">
                        <header class="text-capitalize"><span>Section 3:</span>&nbsp;Shipping address information</header>
                    </div>
                    <div class="col-md-6">

                        {{ form_label(form.shippingAddressState) }}
                        {{ form_widget(form.shippingAddressState) }}
                        {{ form_errors(form.shippingAddressState) }}

                        {{ form_label(form.shippingAddressCity) }}
                        {{ form_widget(form.shippingAddressCity) }}
                        {{ form_errors(form.shippingAddressCity) }}

                        {{ form_label(form.shippingAddressCounty) }}
                        {{ form_widget(form.shippingAddressCounty) }}
                        {{ form_errors(form.shippingAddressCounty) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.shippingAddressStreet) }}
                        {{ form_widget(form.shippingAddressStreet) }}
                        {{ form_errors(form.shippingAddressStreet) }}

                        {{ form_label(form.shippingAddressNumber) }}
                        {{ form_widget(form.shippingAddressNumber) }}
                        {{ form_errors(form.shippingAddressNumber) }}

                        {{ form_label(form.shippingAddressZip) }}
                        {{ form_widget(form.shippingAddressZip) }}
                        {{ form_errors(form.shippingAddressZip) }}

                    </div>
                    <div class="col-md-12">
                        <header class="text-capitalize"><span>Section 4:</span>&nbsp;Primary Business / Purchasing Contact</header>
                    </div>
                    <div class="col-md-6">

                        {{ form_label(form.primeryBusinessContact) }}
                        {{ form_widget(form.primeryBusinessContact) }}
                        {{ form_errors(form.primeryBusinessContact) }}

                        {{ form_label(form.primeryBusinessContactTitle) }}
                        {{ form_widget(form.primeryBusinessContactTitle) }}
                        {{ form_errors(form.primeryBusinessContactTitle) }}

                        {{ form_label(form.primeryBusinessContactEmail) }}
                        {{ form_widget(form.primeryBusinessContactEmail) }}
                        {{ form_errors(form.primeryBusinessContactEmail) }}

                    </div>
                    <div class="col-md-6">

                        {{ form_label(form.primeryPurchasingContact) }}
                        {{ form_widget(form.primeryPurchasingContact) }}
                        {{ form_errors(form.primeryPurchasingContact) }}

                        {{ form_label(form.primeryPurchasingContactTitle) }}
                        {{ form_widget(form.primeryPurchasingContactTitle) }}
                        {{ form_errors(form.primeryPurchasingContactTitle) }}

                        {{ form_label(form.primeryPurchasingContactEmail) }}
                        {{ form_widget(form.primeryPurchasingContactEmail) }}
                        {{ form_errors(form.primeryPurchasingContactEmail) }}
                    </div>
                    <div class="col-md-6">

                        {{ form_label(form.businessTelephone) }}
                        {{ form_widget(form.businessTelephone) }}
                        {{ form_errors(form.businessTelephone) }}

                        {{ form_label(form.businessFax) }}
                        {{ form_widget(form.businessFax) }}
                        {{ form_errors(form.businessFax) }}
                    </div>
                    <div class="col-md-6">

                        {{ form_label(form.pharmacistInCharge) }}
                        {{ form_widget(form.pharmacistInCharge) }}
                        {{ form_errors(form.pharmacistInCharge) }}

                        {{ form_label(form.picLicense) }}
                        {{ form_widget(form.picLicense) }}
                        {{ form_errors(form.picLicense) }}
                    </div>
                    <div class="col-md-12">
                        <header class="text-capitalize"><span>Section 5:</span>&nbsp;Major Suppliers / Existing Wholesalers</header>
                    </div>
                    <div class="col-md-3">
                        {{ form_label(form.supplierWholesalers) }}
                        {{ form_widget(form.supplierWholesalers) }}
                        {{ form_errors(form.supplierWholesalers) }}
                        </div>
                    <div class="col-md-3">
                        {{ form_label(form.supplierWholesalersAddress) }}
                        {{ form_widget(form.supplierWholesalersAddress) }}
                        {{ form_errors(form.supplierWholesalersAddress) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_label(form.supplierWholesalersPhone) }}
                        {{ form_widget(form.supplierWholesalersPhone) }}
                        {{ form_errors(form.supplierWholesalersPhone) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_label(form.supplierWholesalersContact) }}
                        {{ form_widget(form.supplierWholesalersContact) }}
                        {{ form_errors(form.supplierWholesalersContact) }}
                        <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#supplier" aria-expanded="true" aria-controls="supplier">
                              <header class="more-infos text-right">Add More &nbsp;<span class="glyphicon glyphicon-plus-sign"></span></header>
                            </a>
                          </h4>
                        </div>
                    </div>
                    <div id="supplier" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="col-md-3">
                            {{ form_label(form.supplierWholesalers2) }}
                            {{ form_widget(form.supplierWholesalers2) }}
                            {{ form_errors(form.supplierWholesalers2) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_label(form.supplierWholesalersAddress2) }}
                            {{ form_widget(form.supplierWholesalersAddress2) }}
                            {{ form_errors(form.supplierWholesalersAddress2) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_label(form.supplierWholesalersPhone2) }}
                            {{ form_widget(form.supplierWholesalersPhone2) }}
                            {{ form_errors(form.supplierWholesalersPhone2) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_label(form.supplierWholesalersContact2) }}
                            {{ form_widget(form.supplierWholesalersContact2) }}
                            {{ form_errors(form.supplierWholesalersContact2) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_label(form.supplierWholesalers3) }}
                            {{ form_widget(form.supplierWholesalers3) }}
                            {{ form_errors(form.supplierWholesalers3) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_label(form.supplierWholesalersAddress3) }}
                            {{ form_widget(form.supplierWholesalersAddress3) }}
                            {{ form_errors(form.supplierWholesalersAddress3) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_label(form.supplierWholesalersPhone3) }}
                            {{ form_widget(form.supplierWholesalersPhone3) }}
                            {{ form_errors(form.supplierWholesalersPhone3) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_label(form.supplierWholesalersContact3) }}
                            {{ form_widget(form.supplierWholesalersContact3) }}
                            {{ form_errors(form.supplierWholesalersContact3) }}
                        </div>

                    </div>
                    <div class="col-md-12">
                        <header class="text-capitalize"><span>Section 6:</span>&nbsp;Name Of Banks</header>
                    </div>
                    <div class="col-md-2">
                        {{ form_label(form.bankName) }}
                        {{ form_widget(form.bankName) }}
                        {{ form_errors(form.bankName) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_label(form.bankCity) }}
                        {{ form_widget(form.bankCity) }}
                        {{ form_errors(form.bankCity) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_label(form.bankState) }}
                        {{ form_widget(form.bankState) }}
                        {{ form_errors(form.bankState) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_label(form.bankAccountOfficer) }}
                        {{ form_widget(form.bankAccountOfficer) }}
                        {{ form_errors(form.bankAccountOfficer) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_label(form.bankPhone) }}
                        {{ form_widget(form.bankPhone) }}
                        {{ form_errors(form.bankPhone) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_label(form.bankAccount) }}
                        {{ form_widget(form.bankAccount) }}
                        {{ form_errors(form.bankAccount) }}
                        <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#banks" aria-expanded="true" aria-controls="banks">
                              <header class="more-infos text-right">Add More &nbsp;<span class="glyphicon glyphicon-plus-sign"></span></header>
                            </a>
                          </h4>
                        </div>
                    </div>
                    <div id="banks" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="col-md-2">
                            {{ form_label(form.bankName2) }}
                            {{ form_widget(form.bankName2) }}
                            {{ form_errors(form.bankName2) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_label(form.bankCity2) }}
                            {{ form_widget(form.bankCity2) }}
                            {{ form_errors(form.bankCity2) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_label(form.bankState2) }}
                            {{ form_widget(form.bankState2) }}
                            {{ form_errors(form.bankState2) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_label(form.bankAccountOfficer2) }}
                            {{ form_widget(form.bankAccountOfficer2) }}
                            {{ form_errors(form.bankAccountOfficer2) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_label(form.bankPhone2) }}
                            {{ form_widget(form.bankPhone2) }}
                            {{ form_errors(form.bankPhone2) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_label(form.bankAccount2) }}
                            {{ form_widget(form.bankAccount2) }}
                            {{ form_errors(form.bankAccount2) }}
                        </div>
                    </div>
                     <div class="col-md-12">
                        <header class="text-capitalize"><span>Section 7:</span>&nbsp;Business Info</header>
                    </div>
                    <div class="col-md-4">
                        {{ form_label(form.businessType) }}
                        {{ form_widget(form.businessType) }}
                        {{ form_errors(form.businessType) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_label(form.businessYear) }}
                        {{ form_widget(form.businessYear) }}
                        {{ form_errors(form.businessYear) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_label(form.businessMonthlyVolume) }}
                        {{ form_widget(form.businessMonthlyVolume) }}
                        {{ form_errors(form.businessMonthlyVolume) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_label(form.businessMonthlyGenericSales) }}
                        {{ form_widget(form.businessMonthlyGenericSales) }}
                        {{ form_errors(form.businessMonthlyGenericSales) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_label(form.businessMonthlyBrandSales) }}
                        {{ form_widget(form.businessMonthlyBrandSales) }}
                        {{ form_errors(form.businessMonthlyBrandSales) }}
                    </div>

                    <div class="col-md-12">
                    <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#agreement_and_disclosures" aria-expanded="true" aria-controls="agreement_and_disclosures">
                              <header class="more-infos text-capitalize">Section 7:&nbsp;agreement and disclosures &nbsp;<span class="glyphicon glyphicon-plus-sign"></span></header>
                            </a>
                          </h4>
                    </div>
                    <div id="agreement_and_disclosures" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="col-md-12 help-text bs-callout bs-callout-info">
                            <ol>
                                <li>
                                    <p>As an inducement for Capital Wholesale Drug Co. (“Capital”) to accept orders from or otherwise
                                    extend or make available credit to Applicant, which includes all Applicant owned stores as listed in
                                    Exhibit A attached hereto, the undersigned Applicant hereby agrees to comply with the following
                                    terms of sale, should Capital elect to extend such credit.
                                    </p>
                                </li>
                                <li>
                                    <p>Pricing and payment terms are determined at the time an offer is presented to Applicant and as
                                    reflected on any accompanying invoice.
                                    </p>
                                </li>
                                <li>
                                    <p>If Capital does not receive payment in accordance with the payment terms or based upon credit
                                considerations deemed relevant to Capital, then Capital may refuse to deliver the product covered
                                by this Agreement (the "Product"), refuse additional orders, modify payment terms, place the
                                Applicant on C.O.D., modify Applicant’s costs of goods, limit or terminate the extension of credit
                                and will be entitled to any other remedies available at law or equity.</p></li>
                                <li>
                                    <p>All payments shall be made in full, in good funds, either by check or electronic funds transfer
                                (either by wire or automated clearinghouse), and in accordance with the payment terms. Capital
                                may assess a service charge calculated at the rate of 1.5% per month (or the maximum rate
                                allowed by law, if such rate is less than 1.5% per month) on any amount not paid by Applicant to
                                Capital when due under the terms of this Agreement from the first day of delinquency. Failure or
                                delay by Capital to bill Applicant for any such service charge will not waive Capital’s right to
                                receive the same. In the event of default in payments on any invoices, Capital shall have the right
                                to declare all invoices immediately due and payable and Applicant gives Capital the authorization
                                to use any credit card, debit card or electronic funds transfer to satisfy any past due invoices.
                                Applicant shall pay all out-of-pocket expenses, including attorney’s fees, court costs, expenses and
                                disbursements, incurred by Capital to collect any amounts due under this Agreement or to
                                otherwise enforce any of the terms of this agreement.</p></li>
                                <li>
                                    <p>The Product is shipped FOB destination. Applicant’s obligation to pay for Product begins on the
                                date of shipment. Applicant agrees to place orders in the specified minimum dollar amount. If the
                                order size is less than specified minimum, Applicant agrees to pay a minimum order charge.
                                Capital reserves the right at all times to determine what Product it will carry based upon product
                                quality, manufacture indemnity, insurance, and other policies, and other standards determined by
                                it, and may delete Product from its available inventory at any time. No schedule II orders will be
                                delivered other than in compliance with DEA regulations.</p></li>
                                <li>
                                    <p>Capital will accept returns of Product within three months after the Product expiration. A 25%
                                restocking fee applies to all Product returns except for returns due to shipping damages or errors.
                                Applicant must notify Capital within 48 hours of receipt of any discrepancies or shortages on the
                                order. Capital may refuse any returns if not notified as herein stated.</p></li>
                                <li>
                                    <p>Applicant attests to Capital that it is properly licensed with applicable state licensing agencies to
                                receive, dispense, distribute and otherwise legally dispose of the Product. Applicant understands
                                that by attesting to this, Capital is complying with the “good faith inquiry” standard to ensure that
                                the Product is distributed to properly licensed and/or registered pharmacy locations. Prior to
                                purchasing the product from Capital hereunder, Applicant must provide Capital with copies of all
                                such licenses and any renewals, revocations or other changes to the same.</p></li>
                                <li>
                                    <p>Applicant agrees to all the terms and conditions of the Agreement. This Agreement, together
                                with all invoices, purchase orders, and the exhibits and addenda thereto constitute the entire
                                agreement and understanding of the parties with respect to the subject matter hereof and
                                supersede all prior written and oral arguments, proposals, buds/bid responses, and
                                understandings between the parties relative to the subject matter hereof. No changes to this
                                Agreement or any purchase orders will be made or be binding upon either party unless made in
                                writing and signed by each party. By signing this Agreement, Capital and Applicant each represent
                                that it has the authority to bind its respective party to this agreement.</p></li>
                                <li>
                                    <p>All information provided in this Application or otherwise submitted is true and correct and is
                                being (or will be) furnished for the purpose of obtaining/retaining credit from Capital. Applicant
                                authorizes its banks and suppliers to release any and all information as requested by Capital so as to ascertain credit worthiness. Applicant shall provide Capital with financial statements and such
                                further information as may reasonably be requested from time to time.</p></li>
                                <li>
                                    <p>If there is a lawsuit, Applicant agrees to submit to the jurisdiction of the state courts of
                                Franklin County, Ohio or to the jurisdiction of the United States District Court for the Southern
                                District of Ohio. Applicant further consents to venue in either of the preceding courts.</p></li>
                            </ol>
                        </div>
                    </div>
                    <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#guarantee" aria-expanded="true" aria-controls="guarantee">
                              <header class="more-infos text-capitalize">Section 8:&nbsp;guarantee&nbsp;<span class="glyphicon glyphicon-plus-sign"></span></header>
                            </a>
                          </h4>
                    </div>
                    <div id="guarantee" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="col-md-12 help-text bs-callout bs-callout-info">
                        <p>The undersigned Principal(s) of Applicant by reason of their interest in the Applicant and as an inducement for Capital
Wholesale Drug Co. to extend credit to Applicant, hereby jointly and severally, irrevocably, and unconditionally
guarantee to Capital Wholesale Drug Co. and its subsidiaries affiliates and successors (each a Guarantee party) and
assigns the prompt and full payment (and not merely the ultimate collectability) and performance of all obligations of
Applicant to each Guaranteed party, whether now existing or hereafter arising. The undersigned authorizes Capital
Wholesale Drug Co. to verify this information and/or additional information by obtaining data from a credit reporting
agency. If applicant or its business is hereafter sold, this guaranty shall continue to all credit hereafter made available
to that Applicant or its business (as the case may be) until such time as Capital Wholesale Drug Co. has received 5 days
advanced written notice (via certified mail, return receipt requested) that Applicant and/or Principal(s) will no longer
be responsible for credit thereafter made available with respect to that Applicant or its business.</p>
</div></div>
                    {{ form_widget(form.save) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('bundles/sonatacore/vendor/select2/select2.min.js') }}"></script>
        <script type="text/javascript">

        $('.required').append('<sup class="req">*</sup>');
$("#appbundle_usersettings_businessType").select2();
            </script>

{% endblock %}