{% extends '::base.html.twig' %}
{% block banner %}

            {% endblock %}
{% block content %}
<div class="wrapper top-panel">
    <div class="">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="header-title">AAROGYA MED LLC <span class="text-uppercase">products list</span></h1>
            </div>
        <div class="panel-body">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            {% if app.user.userSettings %}
                            {{ app.user.userSettings.tradeName }}'s Bag{% else %}Bag{% endif %}&nbsp;<span class="badge total-count"></span>&nbsp;<span class="badge total-price"></span>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        <table class="table table-hover order">
            <thead>
                <tr>
                    <th><span><a href="#">Product Name</a></span></th>
                    <th><span>Strength</span></th>
                    <th><span>Size</span></th>
                    <th><span>Price</span></th>
                    <th><span>Qty</span></th>
                    <th><span>Cost</span></th>
                    <th><span>Actions</span></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            <tr>
                <td class="total-count" colspan="2"><span>Selected count </span> 0</td>
                <td class="total-price" colspan="2"><span>Selected price </span> 0$</td>
                <td class="create_invoice" colspan="2"><a href="{{ path('my_bag') }}" class="btn btn-success">Show my order</a></td>
            </tr>
            </tfoot>
        </table>
                      </div>
                    </div>
                </div>
            </div>
            {#<p> text how to add list </p>#}
            <div class="wrapper">
        {{ grid(grid, 'APYDataGridBundle::blocks.html.twig') }}
        </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('.modal').removeClass('id').css({'display':'none'})"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('.modal').removeClass('id').css({'display':'none'})">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock content %}

{% block stylesheets %}
        {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}