{% extends 'base.html.twig' %}

{% block content %}
    {% block banner %}

    {% endblock %}

<div class="wrapper top-panel">
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="header-title">AAROGYA MED LLC <span>{{ app.user.username }} Bag</span></h1>
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="flash-notice">
                        {{ flash_message }}
                    </div>
                {% endfor %}
            </div>
            <div class="panel-body container">
                <table class="table table-hover order">
                    <thead>
                    <tr>
                        <th><span><a href="#">Product Name</a></span></th>
                        <th><span>Size</span></th>
                        <th><span>Price</span></th>
                        <th><span>Count</span></th>
                        <th><span>Cost</span></th>
                        <th><span>Actions</span></th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="total-count" colspan="2"><span>Selected count </span> 0</td>
                        <td class="total-price" colspan="2"><span>Selected price </span> 0$</td>
                        <td class="create_invoice" colspan="2">
                            {% if app.user.userSettings == null %}
                            <a href="{{ path('submit_order')}}" class="btn btn-success">Submit order</a>
                            {% else %}
                                <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-info"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit Profile</a>
                            <p>TODO info about user settings</p>
                            {% endif %}
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
    {% endblock content %}
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('bundles/app/js/main.js') }}"></script>
    {% endblock %}
