{% extends '::base.html.twig' %}

{% block content %}
<div class="wrapper">
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="header-title">AAROGYA MED LLC <span>{{ product.name }}</span></h1>
            </div>
            <div class="panel-body">
                <ul>
                    <li><span>Name: </span>{{ product.name }}</li>
                    <li><span>Manufacturer: </span>{{ product.productItem.manufacturer }}</li>
                    <li><span>Price:</span>{{ product.price }}</li>
                    <li><span>Size</span>{{ product.productItem.size }}&nbsp;{{ product.productItem.unit }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}