{% extends '::base.html.twig' %}

{% block content %}
<div class="wrapper">
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="header-title">AAROGYA MED LLC <span>{{ product.name }}</span></h1>
            </div>
            <div class="panel-body">
                <ul>
                    <li><span>Name: </span>{{ product.name }}</li>
                    <li><span>Manufacturer: </span>{{ product.productItem.manufacturer }}</li>
                    <li><span>Price:</span>{{ product.price }}</li>
                    <li><span>Size</span>{{ product.productItem.size }}&nbsp;
                        {% set uni='' %}
                        {% set val=product.productItem.unit %}
                        {% if  val==0  %}
                            {% set uni='ct' %}
                        {% elseif val == 1 %}
                            {% set uni='ml' %}
                        {% elseif val == 2 %}
                            {% set uni='s ea' %}
                        {% elseif val == 3 %}
                            {% set uni='gm' %}
                        {% endif %}
                        {{ uni }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}