<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    {% block metadata %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}
    <title>{% block title %}Transaction History at &nbsp;{{ "now"|date("m/d/Y") }}!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('jquery_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('jquery_components/bootstrap/dist/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/style.css') }}">
        <style type="text/css" rel="stylesheet">
            .t3-statement{
                font-size: 12px;
                line-height: 1.2;
            }
        </style>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
    {% block content %}
    <div class="wrapper invoice">
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="col-md-6">
                    <a href="{{ path('homepage') }}" target="_blank">
                        <img src="{{ asset('bundles/app/images/logo.png') }}" class="img-responsive img-circle invoice-logo">
                    </a>
                </div>
                <div class="col-md-6 text-center"><h1>AAMED LLC</h1></div>

            </div>

            <div class="col-md-4">
              <ul class="footer-info-list">
                  <li><span>Address:</span>8351 ELM AVE, #103</li>
                  <li><span>City:</span>RANCHO CUCAMONGA</li>
                  <li><span>State:</span>CA</li>
                  <li><span>Zip:</span>91730</li>
              </ul>
              </div>
            <div class="col-md-4">
              <ul class="footer-info-list">
                  <li><span>Toll Free:</span>1-888-975-8728</li>
                  <li><span>Fax:</span>1-888-624-2851</li>
                  <li><span>Web:</span> www.aamedllc.com</li>
                  <li><span>Email:</span> info@aamedllc.com</li>
              </ul>
          </div>
            <div class="col-md-12 text-center invoice-header">
                <header>
                    <ul>
                        <li><h1>Transaction History ID {{ invoice[0].number }}</h1></li>
                        <li><h1>Customer ID {{ invoice[0].customerId }}</h1></li>
                    </ul>
                </header>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-12 container">
                <div class="col-md-4">
                    <div class="col-md-3 text-right">
                        <b>BUYER ADDRESS</b>
                    </div>
                    <div class="col-md-9">
                        <ul class="footer-info-list">
                            <li>{{ invoice[0].tradeName }}</li>
                            <li>{{ invoice[0].tradeAddress }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-3 text-right">
                        <b>SELLER ADDRESS</b>
                    </div>
                    <div class="col-md-9">
                        <ul class="footer-info-list">
                            <li>
                                Aarogya MedSurg LLC
                            </li>
                            <li>
                                8351 ELM AVE #103, RANCHO CUCAMONGA, CA, 91730
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-6 text-right">
                        <b>TRANSACTION DATE</b>
                    </div>
                    <div class="col-md-6">
                        <ul class="footer-info-list">
                            <li>
                                {{ invoice[0].created|date('Y M d') }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-right">
                        <b>SHIP DATE</b>
                    </div>
                    <div class="col-md-6">
                        <ul class="footer-info-list">
                            <li>{{ invoice[0].shippingHandling|date('Y M d') }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="row">
            <div class="col-md-12 separator">
                <hr/>
            </div>
            <div class="col-md-12 text-center invoice-header" style="color: red;   margin-top: 0;  margin-bottom: 20px">

                <header><p>Seller purchases directly from the manufacturer or approved distributor*</p>
                        <p>Seller has complied with each applicable subsection of FDCA Sec. 581 (27) (A)-(G)</p>
                </header>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row invoice-body t3-statement">
            <div class="col-md-12 text-uppercase text-left">
                <div class="col-md-4">
                    <div class="col-md-2"><b>#</b></div>
                    <div class="col-md-10">
                        <b>Manufacturer info</b>
                    </div>
                </div>
                <div class="col-md-3"><b>Name/Strength</b></div>
                <div class="col-md-1"><b>Size</b></div>
                <div class="col-md-1"><b>NDC</b></div>
                <div class="col-md-1"><b>LOT</b></div>
                <div class="col-md-2">
                    <div class="col-md-2">
                        <b>QTY</b></div>
                    <div class="col-md-10"><b>Exp. Date</b></div>
                </div>
            </div>
            {% set count = 1 %}
            {% set total = 0 %}
            {% for booking in invoice %}
            <div class="col-md-12 text-uppercase text-left">

                <div class="col-md-4">
                    <div class="col-md-2"><b>{{ count }}</b></div>
                    <div class="col-md-10">
                        <span>SUPPLIER NAME&nbsp;</span><b>{{ booking.manName }}</b>
                        <span>SUPPLIER ADDRESS&nbsp;</span><b>{{ booking.manAddress }}</b><br>
                        <span>SUPPLIER SHIP DATE&nbsp;</span><b>{{ booking.shipDate|date('Y-m-d') }}</b>
                    </div>
                </div>
                <div class="col-md-3"><b>{{ booking.name }}&nbsp;{{ booking.strength }}</b></div>
                <div class="col-md-1"><b>Size</b></div>
                <div class="col-md-1"><b>{{ booking.nds }}</b></div>
                <div class="col-md-1"><b>{{ booking.lot }}</b></div>
                <div class="col-md-2">
                    <div class="col-md-2">
                        <b>QTY</b></div>
                    <div class="col-md-10"><b>Exp. Date</b></div>
                </div>

                <div class="col-md-1"><b>{{ count }}</b></div>
                <div class="col-md-4">
                    <span>SUPPLIER NAME&nbsp;</span><b>{{ booking.manName }}</b>
                    <span>SUPPLIER ADDRESS&nbsp;</span><b>{{ booking.manAddress }}</b><br>
                    <span>SUPPLIER SHIP DATE&nbsp;</span><b>{{ booking.shipDate|date('Y-m-d') }}</b>
                </div>
                <div class="col-md-3"><b>{{ booking.name }}&nbsp;{{ booking.strength }}</b></div>
                <div class="col-md-1"><b>{{ booking.psize }}
                        {% set uni='' %}
                        {% set val=booking.unit %}
                        {% if  val==0  %}
                            {% set uni='ct' %}
                        {% elseif val == 1 %}
                            {% set uni='ml' %}
                        {% elseif val == 2 %}
                            {% set uni='s ea' %}
                        {% elseif val == 3 %}
                            {% set uni='gm' %}
                        {% endif %}{{ uni }}</b></div>
                <div class="col-md-1"><b>{{ booking.nds }}</b></div>
                <div class="col-md-1"><b>{{ booking.lot }}</b></div>
                <div class="col-md-1"><b>{{ booking.count }}</b></div>
                <div class="col-md-1"><b>{{ booking.expiryDate|date('Y-m-d') }}</b></div>
            </div>
                {% set count = count +1 %}
            {% endfor %}
            <hr>
        </div>
    </div>
    {% endblock %}
    {% block footer %}
       <br>
       <br>
       <br>
    {% endblock %}
{% endblock %}
<script type="text/javascript" src="{{ asset('jquery_components/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('jquery_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
